.homepage {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    overflow: scroll;
    overflow-x: hidden;

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    &::-webkit-scrollbar {
        width: 10px;
	    background-color: var(--scrollbar-background);
    }
      
    &::-webkit-scrollbar-track {
	    background-color: var(--scrollbar-background);
    }
      
    &::-webkit-scrollbar-thumb {
	    background-color: var(--scrollbar);
        border: 2px solid var(--scrollbar);
    }
}

.users {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        li {
            background: var(--background-secondary);
            border: 1px solid var(--border-gray);
            padding: 1.25rem;
            border-radius: 1.5rem;
            position: relative;
            
            display: flex;
            align-items: center;

            .usersCard { 
                flex: 1;
                margin-left: 1rem;

                p {
                    display: block;
                    color: var(--text-primary);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }                
                
                .grids {
                    margin-top: 0.5rem;

                    > span:not(:first-child) {
                        margin-left: 0.5rem;
                    }
                    
                    span {
                        display: inline-block;
                        font-size: 0.875rem;
                        max-width: 70%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background: var(--background-secondary);
                        border: 1px solid var(--border-gray);
                        border-radius: 0.675rem;
                        padding: 0.675rem;
                    } 
                }                               
            }

            button {
                position: absolute;
                right: 2rem;
                bottom: 2rem;

                width: 2.5rem;
                height: 2.5rem;
                background: var(--background-secondary);
                border: 1px solid var(--border-gray);
                border-radius: 0.675rem;
                font-size: 0;

                transition: filter 0.2s;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
}